<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <!-- 消息 -->
        <menuitem name="Messaging" id="mail.mail_feeds_main" groups="base.group_user" sequence="1"/>

        <!-- 采购主菜单  -->
        <!-- Top menu item -->
        <menuitem name="Purchases" id="base.menu_purchase_root" sequence="2"
                  groups="mtlcs_base.group_material_control_user,purchase.group_purchase_user,account.group_account_invoice"/>
        <menuitem name="供应商管理" id="sub_menu_supplier_management" parent="base.menu_purchase_root" sequence="1"
                  groups="purchase.group_purchase_user"/>
        <menuitem id="sub_menu_preparation_management" name="申购管理" parent="base.menu_purchase_root" sequence="2"
                  groups="purchase.group_purchase_user,mtlcs_base.group_material_control_user"/>
        <menuitem id="purchase.menu_procurement_management" name="采购管理" parent="base.menu_purchase_root" sequence="3"/>
        <menuitem id="purchase.menu_procurement_management_invoice" name="发票管理" parent="base.menu_purchase_root" sequence="4"/>


        <!-- 计划主菜单 -->
        <menuitem name="计划" id="menu_plan_root" groups="mtlcs_base.group_plan_user" sequence="1"/>
        <menuitem name="领料管理" id="menu_plan_material_acquire" groups="mtlcs_base.group_plan_user" parent="menu_plan_root" sequence="1"/>


        <!-- 销售主菜单  -->
        <menuitem name="Sales" id="base.menu_base_partner" groups="base.group_sale_salesman,base.group_sale_manager" sequence="3"/>
        <menuitem name="客户管理" id="sub_menu_customer_manager" parent="base.menu_base_partner" groups="base.group_sale_salesman" sequence="0"/>
        <menuitem name="订单中心" id="sub_menu_order_center" parent="base.menu_base_partner" groups="base.group_sale_salesman" sequence="1"/>


        <!-- 仓库主菜单  -->
        <menuitem name="Warehouse" id="stock.menu_stock_root" groups="stock.group_stock_manager,stock.group_stock_user,account.group_account_invoice"
                  sequence="4"/>
        <menuitem name="领料管理" id="menu_stock_material_production_management" parent="stock.menu_stock_root" groups="base.group_user"
                  sequence="1"/>
        <menuitem name="物料管理" id="menu_stock_purcase_management" parent="stock.menu_stock_root" groups="base.group_user" sequence="2"/>
        <menuitem name="成品管理" id="menu_stock_sale_production_management" parent="stock.menu_stock_root" groups="mtlcs_base.group_warehouse_finish_user" sequence="3"/>
        <menuitem name="库存查询" id="menu_stock_stock" parent="stock.menu_stock_root" groups="base.group_user" sequence="4"/>

        <!-- 仓库成品  -->
        <menuitem name="成品仓" id="menu_finish_stock_root" groups="mtlcs_base.group_warehouse_finish_user,account.group_account_invoice" sequence="4"/>
        <menuitem name="发货管理" id="menu_finish_stock_sub" parent="menu_finish_stock_root"
                  groups="mtlcs_base.group_warehouse_finish_user,account.group_account_invoice" sequence="1"/>


        <!-- 工程主菜单  -->
        <menuitem id="menu_eng_root" name="工程" groups="base.group_system" sequence="5"/>

        <!-- 生产主菜单  -->
        <!-- Top menu item -->
        <menuitem name="制造" id="base.menu_mrp_root" groups="mrp.group_mrp_user,mrp.group_mrp_manager" sequence="6"/>
        <menuitem name="领料管理" id="sub_menu_mrp_material_material_acquire" parent="base.menu_mrp_root" groups="mrp.group_mrp_user"
                  sequence="1"/>

        <!-- 计划主菜单  -->
        <menuitem id="menu_plan_root" name="计划" sequence="7"/>

        <!-- 品质主菜单  -->
        <menuitem name="品质" id="quality_control.qc_menu" groups="quality_control.group_quality_control_user" sequence="40"/>
        <menuitem name="来料质检" id="quality_control.iqc_menu_parent" parent="quality_control.qc_menu"  groups="quality_control.group_quality_control_user" sequence="1"/>
        <menuitem name="检测报告" id="quality_control.qc_inspection_menu_parent" parent="quality_control.qc_menu"  groups="quality_control.group_quality_control_user" sequence="10"/>
        <menuitem name="检测模版" id="quality_control.qc_menu_test_parent" parent="quality_control.qc_menu"  groups="quality_control.group_quality_control_manager" sequence="20"/>
        <menuitem name="设置" id="quality_control.qc_menu_config" parent="quality_control.qc_menu"  groups="quality_control.group_quality_control_manager" sequence="21"/>

        <!-- 设备管理主菜单  -->
        <menuitem id="menu_machine_root" name="设备" sequence="8"/>

        <!-- 财务主菜单  -->
        <menuitem name="Invoicing" id="account.menu_finance"
                  groups="account.group_account_user,account.group_account_manager,account.group_account_invoice"
                  sequence="9"/>
        <menuitem name="采购管理" id="mtlcs_base.sub_menu_finance_purchase"
                  parent="account.menu_finance" groups="account.group_account_invoice" sequence="0"/>
        <menuitem id="account.menu_finance_payables" name="Suppliers" parent="account.menu_finance" sequence="1"/>
        <menuitem id="account.menu_finance_receivables" name="Customers" parent="account.menu_finance" sequence="2"/>




        <menuitem name="HR" id="hr.menu_hr_root"  groups="base.group_hr_manager,base.group_hr_user,base.group_user" sequence="10"/>
        <menuitem name="项目" id="base.menu_main_pm" groups="project.group_project_manager,project.group_project_user" sequence="80"/>

        <!-- 系统管理  -->
        <menuitem id="menu_system_manager_root" name="系统管理" sequence="902"/>
        <menuitem id="menu_system_manager_base_data" name="基础数据" parent="menu_system_manager_root" sequence="1"/>


    </data>
</openerp>